
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
.modal {
  width: 90%;
  max-width: 600px;
  height: 450px;
  left: 0;
  right: 0;
  margin: auto;
  background: #FFFF;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}
.modal-header,
.modal-footer {
  padding: 10px;
  display: flex;
  align-items: center;
}
.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #f7941d;
  justify-content: space-between;
}
.modal-header h2 {
  font-size: 18px;
  padding-left: 40px;
  margin: 0;
}
.modal-footer {
  margin-top: 0;
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
  padding: 25px;
}
.modal-body {
  position: relative;
  flex: 1;
}
.btn-x {
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #f7941d;
  background: transparent;
}
.btn-x:hover {
  color: #00629b;
}
.btn-close {
  color: white;
  background: #f7941d;
  border: 1px solid #f7941d;
  border-radius: 2px;
}
.btn-close:hover {
  background: #00629b;
  border: 1px solid #00629b;
}

.map {
  width: 100vw;
  height: 400px;
}
/*!
 * Bootstrap v4.0.0-alpha.6 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

 footer, header, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

 h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}


ul {
  margin-top: 0;
  margin-bottom: 1rem;
}


ul ul {
  margin-bottom: 0;
}

a {
  color: #231f20;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: black;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}


code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=date] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
   .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
   .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
   .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
   .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

 .col-md-12, .col-md-8, .col-md-6, .col-md-4, .col-md-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.table-active {
  background-color: rgba(0, 0, 0, 0.075);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 1.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
 .btn:disabled {
  opacity: 0.65;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-primary:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
 .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar .container,
.navbar .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}


.py-2 {
  padding-top: 0.5rem !important;
}


.py-2 {
  padding-bottom: 0.5rem !important;
}


.py-4 {
  padding-top: 1.5rem !important;
}


.px-4 {
  padding-right: 1.5rem !important;
}


.py-4 {
  padding-bottom: 1.5rem !important;
}


.px-4 {
  padding-left: 1.5rem !important;
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #a71d2a !important;
}

@media print {
  *,
*::before,
*::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  
img {
    page-break-inside: avoid;
  }

  p,
h2 {
    orphans: 3;
    widows: 3;
  }

  h2 {
    page-break-after: avoid;
  }

  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }

  .container {
    min-width: 992px !important;
  }

  .navbar {
    display: none;
  }
}
.spacer {
  background-color: white;
  height: 100px;
}

.top-banner {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  box-shadow: 0px 1px 14px #ccc;
}
.top-banner .nav {
  text-align: justify;
}
.top-banner .nav li a {
  padding-top: 35px;
}
.top-banner .navbar {
  padding: 0;
}
.top-banner .navbar .nav-contact {
  float: right;
  position: absolute;
  right: 0;
  width: 375px;
  text-align: center;
  height: 100px;
}
.top-banner .navbar .nav-contact:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(71%) sepia(30%) saturate(3647%) hue-rotate(345deg) brightness(98%) contrast(98%);
          filter: brightness(0) saturate(100%) invert(71%) sepia(30%) saturate(3647%) hue-rotate(345deg) brightness(98%) contrast(98%);
}
.top-banner .navbar .nav-contact img {
  margin-top: 30px;
  width: auto;
  height: 20px;
}
.top-banner .navbar .boilerplate-logo {
  width: 300px;
  height: 100px;
}
.top-banner .navbar .boilerplate-logo img {
  margin-top: 10px;
  margin-left: 5px;
  width: auto;
  height: 60px;
}
.top-banner .nav-group {
  position: absolute;
  right: 0;
}
@media (max-width: 991.98px) {
  .top-banner .nav-item {
    display: none;
  }
}
.top-banner .hamburger {
  display: none;
}
@media (max-width: 991.98px) {
  .top-banner .hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.top-banner .hamburger-container {
  display: none;
}
@media (min-width: 992px) {
  .top-banner .overlay {
    display: none;
  }
}

.hamburger {
  width: 2rem;
  height: 3rem;
  position: relative;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
  z-index: 100;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #00629b;
  border-radius: 9px;
  opacity: 1;
  right: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2), .hamburger span:nth-child(3) {
  top: 9px;
}
.hamburger span:nth-child(4) {
  top: 18px;
}
.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
}
.hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
}

.overlay {
  z-index: 50;
  position: fixed;
  background: white;
  top: 100px;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay .container {
  text-align: center;
}
.overlay.open {
  opacity: 0.95;
  visibility: visible;
  height: 250px;
}
.overlay.open ul {
  list-style-type: none;
}
.overlay.open ul a {
  font-size: 18px;
  font-weight: 700;
  color: #00629b;
  text-transform: uppercase;
}
.overlay.open ul a:hover {
  color: #f7941d;
}
.overlay.open ul li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.overlay.open ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.overlay.open ul li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.overlay.open ul li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
footer {
  background: white;
  padding: 50px 0;
  margin-top: 160px;
  position: relative;
  bottom: 0;
}
@media (max-width: 991.98px) {
  footer {
    margin-top: 50px;
  }
}
footer .authorised-dealer h2 {
  font-size: 16px;
}
footer .authorised-dealer img {
  width: 90%;
  height: auto;
  padding-right: 40px;
  padding-left: 0;
}
@media (max-width: 991.98px) {
  footer .authorised-dealer .authorised-dealer-logo img {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  footer .authorised-dealer .authorised-dealer-logo {
    padding-bottom: 75px;
    text-align: left;
  }
  footer .authorised-dealer .authorised-dealer-logo img {
    width: 60%;
  }
}
footer .supplier-logos h2 {
  font-size: 16px;
  padding-left: 16px;
}
footer .supplier-logos img {
  height: auto;
  width: 70%;
}
footer .supplier-logos .logo-row {
  padding-top: 20px;
}
footer .supplier-logos .logo_davis {
  margin-top: -15px;
}
footer .supplier-logos .logo_davis img {
  width: 57%;
}
footer .supplier-logos .logo_tsurumi {
  margin-left: -32px;
}
footer .supplier-logos .logo_tsurumi img {
  width: 100%;
}
@media (max-width: 767.98px) {
  footer .supplier-logos h2 {
    padding-left: 0;
  }
  footer .supplier-logos .logo-row {
    padding-bottom: 25px;
  }
  footer .supplier-logos .logo-row .col-md-4 {
    width: 33%;
    padding: 0;
  }
}
footer .footer-contact {
  padding: 0;
  text-align: right;
  font-size: 12px;
}
footer .footer-contact .numbers p {
  text-align: left;
  padding-left: 28%;
}
footer .footer-contact .numbers p .number {
  float: right;
  font-weight: 700;
}
footer .footer-contact .numbers a {
  color: #00629b;
}
@media (max-width: 991.98px) {
  footer .footer-contact .numbers p {
    padding-left: 0;
  }
}
footer .footer-contact .copyright {
  padding-top: 18px;
}
footer .footer-contact .copyright p {
  margin-left: -90px;
}
@media (max-width: 767.98px) {
  footer .footer-contact {
    padding-top: 50px;
    text-align: left;
  }
  footer .footer-contact .numbers {
    text-align: left;
  }
  footer .footer-contact .numbers p {
    padding-left: 0;
  }
}
@media (max-width: 767.98px) {
  footer .footer-contact {
    padding-top: 25px;
  }
  footer .footer-contact .numbers p {
    padding-right: 60%;
  }
  footer .footer-contact .copyright {
    padding-top: 0;
  }
  footer .footer-contact .copyright p {
    margin-left: 0;
  }
}
footer .td-logo {
  margin-right: -20px;
  float: right !important;
  opacity: 0.2;
  padding-top: 25px;
  transition: 0.5s;
}
footer .td-logo:hover {
  opacity: 0.3;
}
footer .td-logo a {
  display: block;
}
footer .td-logo a:hover:after, footer .td-logo a:focus:after, footer .td-logo a:active:after {
  width: 0;
  right: 0 !important;
  position: relative !important;
}
footer .td-logo p {
  color: #00629b;
  font-family: "Trocchi", serif;
  font-weight: 400;
  font-size: 12px;
  float: right;
  padding-top: 20px;
  padding-right: 5px;
}
footer .td-logo img {
  margin-top: -10px;
  float: right;
  width: 100px;
}

.page-home .text-heading h2 {
  padding-bottom: 25px;
}
.page-home .paragraph {
  font-size: 12px;
}
@media (max-width: 991.98px) {
  .page-home .paragraph {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .page-home .paragraph {
    font-size: 14px;
  }
}
@media (min-width: 1395px) {
  .page-home .paragraph {
    font-size: 16px;
  }
}
@media (min-width: 1550px) {
  .page-home .paragraph {
    font-size: 18px;
  }
}
@media (min-width: 1800px) {
  .page-home .paragraph {
    font-size: 20px;
  }
}
.page-home .paragraph p {
  margin-bottom: 25px;
}
.page-home .page-container {
  padding-top: 50px;
  width: 70%;
  max-width: 960px;
  left: 0;
  right: 0;
  margin: auto;
}
.page-home .page-container .logo {
  text-align: center;
  padding-bottom: 50px;
}
.page-home .page-container .logo img {
  width: 200px;
  height: auto;
}
@media (max-width: 991.98px) {
  .page-home .page-container {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    padding-bottom: 40px;
  }
}

.page-contact {
  flex: 1 0 auto;
}
.page-contact .top {
  padding-top: 50px;
  padding-bottom: 5px;
}
.page-contact .contact-details {
  padding-top: 25px;
  padding-bottom: 25px;
}
.page-contact .contact-details h2 {
  font-size: 18px;
}
.page-contact .form-control {
  border: none;
  border-radius: 0;
  color: #00629b;
}
.page-contact ::-webkit-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #5bdeee;
}
.page-contact ::-moz-placeholder {
  /* Firefox, Chrome, Opera */
  color: #5bdeee;
}
.page-contact :-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #5bdeee;
}
.page-contact ::-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #5bdeee;
}
.page-contact ::placeholder {
  /* Firefox, Chrome, Opera */
  color: #5bdeee;
}
.page-contact .form-btn {
  background-color: #00629b;
  border: none;
  color: white;
  font-size: 24px;
  border-radius: 0;
  margin: 20px 0;
}
.page-contact .form-btn:hover {
  background-color: white;
  color: #00629b;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .page-contact .form-btn {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .page-contact .form-btn {
    font-size: 20px;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  overflow-y: scroll;
  line-height: 1.55;
  color: #00629b;
  background: #5bdeee;
  display: flex;
  flex-direction: column;
}

h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
}
@media (max-width: 1199.98px) {
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  h2 {
    font-size: 22px;
  }
}
@media (max-width: 767.98px) {
  h2 {
    font-size: 18px;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

.small-margin {
  margin: 15px;
}

.container-fluid {
  padding: 0;
}

a {
  font-weight: 700;
  transition: color 0.2s;
}

button {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: transparent;
  border-color: white;
  padding: 10px 25px;
  border: solid 2px;
  text-transform: uppercase;
  font-size: x-small;
}
button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=app.css.map*/